.game {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 100px;
    overflow-y: hidden;
}

.nextBtn {
    width: 20%;
    margin-top: 100px;
}

.playbar {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.words {
    font-size: 1.5em;
}