.newGameBtn {
    cursor: pointer;
    text-transform: uppercase;
    margin: 5px;
    width: 20%;
    height: 3rem;
}

.joinGameBtn {
    cursor: pointer;
    text-transform: uppercase;
    margin: 5px;
    width: 20%;
    height: 3rem;
}

.idInput {
    margin: 0px;
    padding: 0;
    width: 20%;
    padding: 10px;
    height: 3rem;
}

.page {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.usernameSubmit {
    cursor: pointer;
    background-color: rgb(20, 20, 20);
    padding: 15px;
    transition: all 100ms ease;
}

.usernameSubmit:hover {
     background-color: rgb(30, 30, 30);
}

.usernamePrompt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    background-color: rgb(10, 10, 10);
    padding: 3em;
    width: 70vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.usernameInput {
    padding: 1.5em;
    background-color: rgb(10, 10, 10);
    border-radius: 5px;
    transition: all 100ms ease;
}

.usernameInput:focus {
    border: 1px solid rgba(255, 255, 255, 0.3);
}
